{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CPS | {%block title%} {%endblock title%}</title>
    
    <link
    href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
    rel="stylesheet"
  />
  <!-- Django + HTMX configurations -->
    <script src="{% static 'htmx/htmx.min.js' %}"></script>
    {% django_htmx_script %}


    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  {% include 'base/js.html'%}
  </head>
  <body hx-headers='{"X-CSRFToken":"{{csrf_token}}"}'>
    {%block content%} 
    {%endblock content%}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
