{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CPS | {%block title%} {%endblock title%}</title>
    <link
      rel="shortcut icons"
      href="{% static 'images/favicon.svg' %}"
      type="image/x-icon"
    />
    {% tailwind_css %}

    {% block extrahead %}
    {% endblock extrahead %}
    {% include "base/js.html" %}
  </head>
  <body hx-headers='{"X-CSRFToken":"{{csrf_token}}"}'>
    {%block content%} 
    {%endblock content%}
    
  </body>
</html>
