{% extends 'base.html'%} 
{%block title%} Courses Detail {%endblock title%}
{%block content%}
<section class="bg-gray-50 py-3 antialiased dark:bg-gray-900 md:py-12">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <!-- Heading & Filters -->
    <div
      class="mb-4 items-end justify-between space-y-4 sm:flex sm:space-y-0 md:mb-8"
    >
      <h2
        class="mt-3 text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl"
      >
        Lessons
      </h2>
      <p class="lead">{{course_obj.description}}</p>
    </div>
    <div
      class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4"
    >
      {% for lesson in lessons_list %}
        {% include "courses/components/course-card.html" with course=lesson %} 
      {% endfor %}
    </div>
  </div>
</section>

{%endblock content%}