{% extends 'base.html'%}
{% load static %}
{%block title%} Lesson Coming Soon {%endblock title%}

{%block content%}
<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="mx-auto max-w-screen-xl px-1 2xl:px-0">
    <div class="mx-auto max-w-5xl">
      <!-- lesson title -->
      <h2
        class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl"
      >
        {{lesson_obj.title}}
      </h2>

      <!-- lesson description -->
      <div class="max-w-2xl mx-auto space-y-6 my-4">
          <h2 class="text-md font-semibold text-gray-900 dark:text-white sm:text-lg" >New Lesson Coming Soon!</h2>
        <p class="ont-medium text-gray-700 dark:text-gray-400 text-justify">
            Get ready for exciting new lessons on your learning journey! We’re preparing fresh content designed to help you expand your skills and knowledge. Stay tuned for updates – more to come!
        </p>
      </div>

      <!-- Lesson Image -->
      <div class="my-8 overflow-hidden">
        <img class="dark:block mx-auto object-contain h-96 rounded-3xl" src="{% static "images/coming-soon.gif" %}" alt="Coming soon gif" />
      </div>
    </div>
  </div>
</section>

{%endblock content%}
